@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
$fontMain: 'Roboto', sans-serif;
$fontSizeSmall: 0.8rem;
$standardFontSize: 1rem;
$fontTitle: 2.5rem;

$fontBold:bold;
$fontThin:300;

